body {
	margin: 0;
	padding: 0;
	position: relative;
}

.btnPurple {
	background-color: #6504b5;
	border: none;
}

.btnPurple:hover {
	background-color: #480580;
}

.register {
	background-color: #f2f2f2;
}

.position {
	display: flex;
	justify-content: flex-end;
}

.mask {
	background-color: rgba(53, 49, 49, 0.8);
	height: 100vh;
	width: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
}

.forgotPwd {
	display: none;
	z-index: 10;
	position: fixed;
	width: 300px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	border-radius: 5px;
}

.forgotPwd p {
	padding-top: 30px;
	text-align: center;
}

.forgotPwd a {
	display: block;
	margin: 0 auto 30px;
	width: 50px;
}