<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.product.dao.SpuDAO">

	<!-- spu -->
	<resultMap id="product" type="web.product.entity.SpuVO">
		<id column="spuID" property="spuID" jdbcType="INTEGER" />
		<result column="ctgID" property="ctgID" jdbcType="INTEGER" />
		<result column="spuName" property="spuName" jdbcType="VARCHAR" />
		<result column="descript" property="descript"
			jdbcType="VARCHAR" />


		<!-- <result column="imgID" property="pImgVO.imgID" jdbcType="INTEGER" 
			/> <result column="spuID" property="pImgVO.spuID" jdbcType="INTEGER" /> <result 
			column="spuImg" property="pImgVO.spuImg" jdbcType="LONGVARBINARY" /> <result 
			column="mainImg" property="pImgVO.mainImg" jdbcType="BIT" /> -->


		<collection property="skuVO"
			ofType="web.product.entity.SkuVO">
			<id column="skuID" property="skuID" jdbcType="INTEGER" />
			<result column="spuID" property="spuID" jdbcType="INTEGER" />
			<result column="skuPrice" property="skuPrice"
				jdbcType="INTEGER" />
			<result column="stock" property="stock" jdbcType="INTEGER" />
			<result column="specAttr" property="specAttr" jdbcType="CHAR" />
			<result column="status" property="status" jdbcType="INTEGER" />
			<result column="addedTime" property="addedTime"
				jdbcType="TIMESTAMP" />
		</collection>
	</resultMap>

	<!-- sku -->
	<resultMap id="prodMap" type="web.product.entity.SkuVO">
		<id column="skuID" property="skuID" jdbcType="INTEGER" />
		<result column="spuID" property="spuID" jdbcType="INTEGER" />
		<result column="skuPrice" property="skuPrice"
			jdbcType="INTEGER" />
		<result column="stock" property="stock" jdbcType="INTEGER" />
		<result column="specAttr" property="specAttr" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="addedTime" property="addedTime"
			jdbcType="TIMESTAMP" />

		<result column="spuID" property="spuVO.spuID"
			jdbcType="INTEGER" />
		<result column="ctgID" property="spuVO.ctgID"
			jdbcType="INTEGER" />
		<result column="spuName" property="spuVO.spuName"
			jdbcType="VARCHAR" />
		<result column="descript" property="spuVO.descript"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- <result column="imgID" property="pImgVO.imgID" jdbcType="INTEGER" /> 
		<result column="spuID" property="pImgVO.spuID" jdbcType="INTEGER" /> <result 
		column="spuImg" property="pImgVO.spuImg" jdbcType="LONGVARBINARY" /> <result 
		column="mainImg" property="pImgVO.mainImg" jdbcType="BIT" /> -->

<!--  找指定sku -->
	<select id="getSkuVO" resultMap="prodMap"  parameterType="java.lang.Integer">
	select * from
	SPU p join SKU k
	on p.spuID = k.spuID
	where k.skuID = #{skuID}
	
	
	</select>




	<!-- 商品價格 數量 -->
	<select id="getPriceAndStock" resultMap="prodMap" parameterType="java.util.List">
		select
		stock, skuPrice ,skuID
		from SKU
		where spuID = #{spuID}  and
		<foreach item="item" collection="key" separator="and ">
		specAttr like CONCAT('%',#{item},'%')	
		</foreach>


	</select>




	<!-- 取得商品細節 -->
	<select id="getDetail" resultMap="product">

		select
		spuName, p.spuID,
		descript, specAttr
		from spu p
		join sku k
		on p.spuID = k.spuID
		where
		k.spuID = #{spuID}

	</select>




	<!-- 後台取得所有產品 -->
	<select id="getAllProd" resultMap="prodMap">
		select * from
		SPU p join SKU k
		on p.spuID = k.spuID
		order by k.skuID desc;
	</select>

	<!-- 後台根據名字做查詢 -->
	<select id="queryByName" parameterType="java.lang.String"
		resultMap="prodMap">
		select * from
		SPU p join SKU k
		on p.spuID = k.spuID
		where
		p.spuName like '%${prodName}%'
	</select>



	<!-- 後台新增商品spu -->
	<insert id="inserSPU" parameterType="web.product.entity.SkuVO"
		useGeneratedKeys="true" keyProperty="spuID">
		insert into SPU
		(ctgID, spuName,
		descript )
		values
		(#{ctgID}, #{spuName}, #{descript})
	</insert>


	<!-- 前台首頁列出產品 -->
	<select id="getMainPage" resultMap="prodMap">

		select
		k.skuID,k.spuID,k.skuPrice,k.stock,k.specAttr,p.ctgID,p.spuName
		from
		sku k
		join spu p
		on k.spuID = p.spuID
		where status = 1 and stock >0

	</select>

	<!-- 3種可能 低價 低價高價 高價 1. 只輸入最低價 price > 低價 2. 只輸入最高價 price < 高價 3. 都輸入 就是之間 -->
	<select id="selectedPage"
		parameterType="web.product.entity.ProdSelection" resultMap="prodMap">

		select
		k.skuID,k.spuID,k.skuPrice,k.stock,k.specAttr,p.ctgID,p.spuName
		from
		sku k
		join spu p
		on k.spuID = p.spuID
		<where>
			and status = 1 and stock >0
			<if
				test="(lowC != null and lowC !='') and (highC == null or highC =='')">
				and k.skuPrice &gt;= #{lowC}
			</if>
			<if
				test="(lowC == null or lowC =='') and (highC != null and highC !='')">
				and k.skuPrice &lt;= #{highC}
			</if>
			<if
				test="(lowC != null and lowC !='') and (highC != null and highC !='')">
				and k.skuPrice between #{lowC} and #{highC}
			</if>
			<if test="prodName !=null and prodName != ''">
				and p.spuName like '%${prodName}%'
			</if>

			<if test="ctgID !=null and ctgID != ''">
				and p.ctgID = #{ctgID}
			</if>


		</where>


	</select>




</mapper>