<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品詳情</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css_ecommerce/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css_ecommerce/style.css" type="text/css">
    <script src="js_ecommerce/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            // 迴圈綁定事件 點選回顯
            $("img .tag").on("click",function(){
                console.log("hi");
            })

        });
    </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img_ecommerce/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">中文</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="./img_ecommerce/Adopets.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>

                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>( 產品數量 )</span></a></li>
                        </ul>
                        <div class="header__cart__price">價格 : <span>這裡可以寫價格</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>贊助貓貓</span>
                        </div>
                        <!-- <ul>
                            <li><a href="#">挑選禮物</a></li>
                        </ul>    -->
                    </div>




                </div>
                <div class="col-lg-9">
                    <!-- <div class="hero__search"> -->
                    <div
                        style="border: 1px; border-color: black; border-top-style: solid; border-bottom-style: solid; ">
                        <form action="#">

                            <select>
                                <option>類型1</option>
                                <option>類型2</option>
                                <option>類型3</option>
                            </select>

                            <input style="margin-left: 20px;" type="text" placeholder="最低價格">
                            <input style="margin-left: 20px;" type="text" placeholder="最高價格">



                            <input style="margin-left: 20px;" type="text" placeholder="請輸入你需要什麼?">
                            <button type="submit" class="site-btn" style="margin-left: 20px;">SEARCH</button>






                        </form>
                    </div>
                    <div class="hero__search__phone">


                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img_ecommerce/bgp3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>產品名稱</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">商城</a>
                            <a href="./index.html">產品類別</a>
                            <span>產品名稱</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div id="showOff" class="product__details__pic__item">
                            <img class="product__details__pic__item--large" src="./img_ecommerce/item_pic/Orijen1.jpg"
                                alt="">
                        </div>

                        <style>
                         
                          
                                
                            

                            
                        </style>

                        <div class="product__details__pic__slider owl-carousel">
                            <img  data-imgbigurl="./img_ecommerce/item_pic/Orijen1.jpg"
                                src="./img_ecommerce/item_pic/Orijen1.jpg" alt="">
                            <img    data-imgbigurl="./img_ecommerce/item_pic/Orijen2.jpg"
                                src="./img_ecommerce/item_pic/Orijen2.jpg" alt="">
                            <img   data-imgbigurl="./img_ecommerce/item_pic/TOM_PRO1.jpg"
                                src="./img_ecommerce/item_pic/TOM_PRO1.jpg" alt="">
                            <img     data-imgbigurl="./img_ecommerce/item_pic/TOM_PRO2.jpg"
                                src="./img_ecommerce/item_pic/TOM_PRO2.jpg" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>產品名稱</h3>
                        <div class="product__details__price">$價格</div>
                        <h6><strong>商品詳情</strong></h6>
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                            vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                            quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">加入購物車</a>

                        <ul>
                            <li><b>剩餘數量</b> <span>寫數量</span></li>
                            <li><b>分享</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>相似的產品</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img_ecommerce/product/product-1.jpg">
                            <ul class="product__item__pic__hover">

                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">產品名稱</a></h6>
                            <h5>$產品價格</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img_ecommerce/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img_ecommerce/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js_ecommerce/jquery-3.3.1.min.js"></script>
    <script src="js_ecommerce/bootstrap.min.js"></script>
    <script src="js_ecommerce/jquery.nice-select.min.js"></script>
    <script src="js_ecommerce/jquery-ui.min.js"></script>
    <script src="js_ecommerce/jquery.slicknav.js"></script>
    <script src="js_ecommerce/mixitup.min.js"></script>
    <script src="js_ecommerce/owl.carousel.min.js"></script>
    <script src="js_ecommerce/main.js"></script>


</body>

</html>