/* background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.86 24.62'%3E%3Cpath d='M14.87 14.69a3.48 3.48 0 0 0 0-4.86L5.95.91a3.49 3.49 0 0 0-4.93 4.93l6.4 6.42-6.4 6.4a3.493 3.493 0 1 0 4.94 4.94l8.87-8.86z' fill='%234d4751'/%3E%3C/svg%3E") no-repeat 100%; */

.dropdown {
    margin-bottom:5px;
    text-align: center;
}


* {
  outline: 0;
  font-family: sans-serif
}
body {
  background-color: #fafafa;
}
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.container {
  /* width: 500px; */
  /* margin: 50px auto 0; */
  text-align: center
}

/*Styling Selectbox*/
.dropdown {
  width: 240px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;

}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 30px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


/* background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.86 24.62'%3E%3Cpath d='M14.87 14.69a3.48 3.48 0 0 0 0-4.86L5.95.91a3.49 3.49 0 0 0-4.93 4.93l6.4 6.42-6.4 6.4a3.493 3.493 0 1 0 4.94 4.94l8.87-8.86z' fill='%234d4751'/%3E%3C/svg%3E") no-repeat 100%; */

.droppage {
    margin-bottom:5px;
    text-align: center;
}


/*Styling Selectbox*/
.droppage {
  width: 135px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #6504b5;
  height: 55px;
  text-align: center;
  margin-top: 20px;
}
.droppage .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    height:35px;
    line-height:35px;

}
.droppage .select > i {

    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.droppage:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.droppage:active {
    background-color: #f8f8f8
}
.droppage.active:hover,
.droppage.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    background-color: #f8f8f8
}
.droppage.active .select > i {
    transform: rotate(-90deg)
}
.droppage .droppage-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.droppage .droppage-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
} 
.droppage .droppage-menu {
    padding: 0;
    list-style: none
}
.droppage .droppage-menu li:hover {
    background-color: #f2f2f2
}
.droppage .droppage-menu li:active {
    background-color: #e2e2e2
}

.droppage .select span{
	border: 1px solid black;
    color:red;
    align:center;
    text-align: center;

}
.fieldBtn:hover {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 0 1px #6504b5;
    box-shadow: inset 0 0 0 1px #6504b5
}

